body {
    background-color: lightgray;
}

.giphy-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.buttons-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

.container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
.footer {
    text-align: center;
    color: lightgrey;
    background-color: darkgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;            /* Footer height */
  }
